.Navbar {
  /* border: 1px solid black; */
  color: white;
  background: rgb(41, 41, 41);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  font-size: 25px;
}
.nav-element {
  /* border: 1px solid red; */
  display: flex;
  gap: 30px;
}
.search-fild {
  /* background-color: aqua; */
  display: flex;
  gap: 10px;
}
.Logo {
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}
.search-button {
  border: 1px solid black;
  background: red;
  border-radius: 10px;
  height: 100%;
  width: 120px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  color: white;
}
.Movie-search-fild {
  padding-left: 10px;
  font-size: 15px;
}
.popular {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.Top-Rated {
  cursor: pointer;
  text-decoration: none;
  color: white;
}
.Upcoming {
  cursor: pointer;
  text-decoration: none;
  color: white;
}
.popular:hover {
  color: red;
}
.Top-Rated:hover {
  color: red;
}
.Upcoming:hover {
  color: red;
}
